body {
    background-color: rgb(139, 236, 243);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center
}

* {
    padding-top: 30px;
    padding-bottom: 30px;
}

#tag {
    font-weight: lighter
}